<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="https://store.dataskeptic.com"><span class="glyphicon glyphicon-shopping-cart"></span> Store</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://portal.dataskeptic.com/members"><span class="glyphicon glyphicon-menu"></span>Members Login</a>
      </li>
    </ul>
  </div>
</nav>
