<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li class="active">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-headphones"></span> Podcasts <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="/podcasts"><span class="glyphicon glyphicon-play-circle"></span> 2020: Interpretability</a>
            </li>
            <li>
              <a href="/podcasts/nlp"><span class="glyphicon glyphicon-play-circle"></span> 2019: NLP</a>
            </li>
            <li>
              <a href="/podcasts/ai"><span class="glyphicon glyphicon-play-circle"></span> 2018: Artificial Intelligence</a>
            </li>
            <li>
              <a href="/podcasts/fakenews"><span class="glyphicon glyphicon-play-circle"></span> 2018: Fake News</a>
            </li>
            <li>
              <a href="/podcasts/2017"><span class="glyphicon glyphicon-play-circle"></span> 2017</a>
            </li>
            <li>
              <a href="/podcasts/2016"><span class="glyphicon glyphicon-play-circle"></span> 2016</a>
            </li>
            <li>
              <a href="/podcasts/2015"><span class="glyphicon glyphicon-play-circle"></span> 2015</a>
            </li>
            <li>
              <a href="/podcasts/2014"><span class="glyphicon glyphicon-play-circle"></span> 2014</a>
            </li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="/login"><span class="glyphicon glyphicon-menu"></span>Members Login</a>
      </li>
    </ul>
  </div>
</nav>
