<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
</head>

<body>

  <% include ../../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="https://s3.amazonaws.com/dataskeptic.com/ds_sm.jpg">
    </a>
    <h1>Data Skeptic: Journal Club</h1>
    <p>A panel discussion about news and academic papers related to data science.</p>
  </div>
</div>

<div class="container">
  <h2>Recurring Panel</h2>
  <div class="row">
    <div class="col-xs-4">
      <img src="http://serverless-crawl.s3.amazonaws.com/user/test/apps/publishingtools/outbox/data-skeptic/blog/master/contributors/2020/kyle-polich.jpg" width="200px" />
      <br/>
      <b>Kyle</b>
    </div>
    <div class="col-xs-4">
      <img src="http://serverless-crawl.s3.amazonaws.com/user/test/apps/publishingtools/outbox/data-skeptic/blog/master/contributors/2020/lan-guo.jpg" width="200px" />
      <br/>
      <b>Lan</b>
    </div>
    <div class="col-xs-4">
      <img src="http://serverless-crawl.s3.amazonaws.com/user/test/apps/publishingtools/outbox/data-skeptic/blog/master/contributors/2020/george-kemp.jpg" width="200px" />
      <br/>
      <b>George</b>
    </div>
  </div>
</div>

<div class="container">
  <h2>Episodes</h2>
  <p>Episode #1: <a href="https://dataskeptic.com/blog/journalclub/2020/chess-transformer-kaggle-scandal-interpretability-zoo">Chess Transformer, Kaggle Scandal, and Interpretability Zoo</a>
  <p>Episode #2: <a href="https://dataskeptic.com/blog/journalclub/2020/albert-seinfeld-and-explainable-ai">AlBert, Seinfeld, and Explainable AI</a>
  <p>Episode #3: <a href="https://dataskeptic.com/blog/journalclub/2020/googles-new-data-engine-activation-atlas-and-lime">Google's New Data Engine, Activation Atlas, and Lime</a>
  <p>Episode #4: <a href="https://dataskeptic.com/blog/journalclub/2020/alphago-covid-19-contact-tracing-and-new-data-set">AlphaGo, COVID-19 Contact Tracing and New Data Set</a>
</div>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

</body>
</html>
