<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
</head>

<body>

  <% include ../../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="https://s3.amazonaws.com/dataskeptic.com/ds_sm.jpg">
    </a>
    <h1>Data Skeptic: Journal Club</h1>
    <p>A panel discussion about news and academic papers related to data science.</p>
    Buttons to subscribe
  </div>
</div>

<div class="container">
  <h2>Recurring Panel</h2>
  <h3>Lan</h3>
  <h3>George</h3>
  <h3>Kyle</h3>
  <h2>Episodes</h2>
  List goes here!
</div>

</body>
</html>
