.jumbotron {
      background: url("https://s3.amazonaws.com/dataskeptic.com/imgs/ds_background_2020.png") center center / cover no-repeat;
  color: white;
  padding-bottom: 80px;
}
.jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7;
}
.jumbotron .btn-primary:hover {
      background: #7646c1;
}
.jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em;
}
.navbar + .jumbotron {
    margin-top: -20px;
}
.jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white;
}
.jumbotron .lang-logo img {
      max-width: 100%;
}


h1 { font-size: 32pt; text-align: center; }
h2 { font-size: 16pt; }


















.album_art {
  max-width: 200px;
  margin-right: 5px;
}
.podcast_summary {
  display: grid;
  grid-template-columns: 1fr 4fr; /* fraction*/
 }














