<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
</head>

<body>

<% include ../../partials/nav.ejs %>

<div class="jumbotron text-center">
<div class="container ">
    <h1>Sales Engineer</h1>
    <p></p>
    <div class="row">
        <div class="col-xs-12 col-sm-12  main-content">

            <p>As a sales engineer, you will work with customers to identify key opportunities for our platform to enhance their data journey.  In this capacity, you’ll be challenged to get involved with engineers and our chief data scientist and grow your understanding of both the state of the art in ML and AI, as well as current themes emerging in the academic literature.</p>

            <p>You are passionate about client-centric solutions and proactively acquiring new enterprise accounts and converting them into long-term clients. You possess a keen ability for overcoming technical obstacles to cost-effectively meet the clients needs today and in the future. You are a hunter. You are intrinsically motivated (... and by financial commissions!). You are a closer. You can demonstrate a history of quota achievement, breaking accounts, overall sales success. You bring a relevant network of strong relationships that are ready to work with you at Data Skeptic.</p>

            <p>You will be responsible for identifying and closing strategic engagements that boost top-line revenue, define, prioritize, chase and close high-growth, high-revenue opportunities.  This is a hands-on sales role best suited for a professional with a strong vision for how artificial intelligence can successfully be brought to market.</p>

            <h2>What we are looking for</h2>
            <ul>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 triangles"><li>Previous enterprise sales experience, ideally with a SaaS and/or ML solution</li></div>
                    <div class="col-xs-12 col-sm-4 triangles"><li>A track record of efficient use of CRM tools and metric-driven performance.</li></div>
                    <div class="col-xs-12 col-sm-4 triangles"><li>A high level understanding of concepts like cloud computing, deep learning, and serverless architecture.</li></div>
                </div>
            </ul>

            <h2>Responsibilities</h2>
            <ul>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 triangles">
                        <li>Establish, prospect, develop, build and test into new market segments, converting new</li> customers and prospective customers into a continuous lead pipeline 
                        <li>Become an expert at identifying leads, target businesses/customers and recommend the</li> proper tool to satisfy each customer’s unique data science needs
                        <li>Develop strong relationships with customers to create specific repeat business</li>
                        <li>Collaborates with the internal team in the resolution of day-to-day customer and</li> operational issues.
                    </div>
                    <div class="col-xs-12 col-sm-6 triangles">
                        <li>Follow up on inbound sales prospects brought by founder</li>
                        <li>Maintain a healthy deal flow to drive revenue and profitability</li>
                        <li>Track opportunities in a CRM</li>
                        <li>Lead contract scope, terms and pricing negotiations while getting internal alignment on</li> scope and costs
                        <li>Advise on pricing schedules for product quotes, promotions, and negotiations</li>
                        <li>Exceed agreed upon sales targets and outcomes/goals</li>
                    </div>
                </div>
            </ul>

            <h2>Qualifications and Skills</h2>
            <ul>
                <div class="col-xs-12 col-sm-6 triangles">
                    <li>5+ years B2B sales experience with a track record of signing deals of $100K+</li>
                    <li>Bachelor’s degree preferred</li>
                    <li>A passion for bleeding edge technology</li>
                    <li>Familiarity with CRM practices along with ability to build productive business professional relationships</li>
                    <li>Highly motivated and target driven with a proven track record in sales</li>
                    </div>
                    <div class="col-xs-12 col-sm-6 triangles">
                    <li>Able to work comfortably in a fast-paced environment, undefined start-up environment with a lean team</li>
                    <li>Strong problem solving and analysis skills. </li>
                    <li>Ability to negotiate and manage contractual arrangements.</li>
                    <li>Ability to develop, plan, and implement short and long-range goals</li>
                    <li>Strong interpersonal and communication skills, both orally and in writing, and the ability to work effectively with a wide range of coworkers in a diverse community, fostering a cooperative work environment.
                    <li>Ideal candidate will have an entrepreneurial mindset.</li>
                </div>
            </ul>


            <h1>Apply</h1>
            <div class="cen">Send your resume to <a href="mailto:careers@dataskeptic.com">careers@dataskeptic.com</a>.</div>

        </div>
    </div>
</div>


</body>
<style>
    .main-content {
        min-height: 400px;
        background-color: #222;
        border-color: #333;
        border-width: 4px;
        border-style: solid;
    }
    .main-content p {
        text-align: left
    }
    .uldiv {
        max-width: 300px;

    }
    .main-content ul, li {
        text-align: left;
        font-size: 13pt;
        line-height: 20pt;
    }
    .main-content li:not(:last-child) {
        margin-bottom: 12pt
    }
    .emph {
        font-size: 18pt;
    }
    .triangles {
        padding: 40px;
    }
    .cen {
        text-align: center;
        font-size: 20pt;
        margin-bottom: 120px;
    }
</style>
</html>
