<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<% if (episode !== undefined) { %>
<div class="container">
  <audio controls="controls">
    <source src="<%= episode.mp3_url %>" />
  </audio>
</div>
<% } %>

<div class="container">
  <%- body %>
</div>


</body>
</html>
