<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<% if (episode !== undefined) { %>


<div class="container" id="SkepticPlayer">
</div>

<script src="http://s3.amazonaws.com/dataskeptic.com/player.js" playlist="<%= episode.mp3_url %>"></script>

<% } %>

<div class="container">
  <%- body %>
</div>


</body>
</html>
