<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<% if (episode !== undefined) { %>
<div class="container">
    <div class="SkepticPlayer bottom">
  <script src="http://s3.amazonaws.com/dataskeptic.com/player.js" playlist="<%= episode.mp3_url %>" title="<%= episode.title %>" artist="Data Skeptic Podcast" album="" artwork="https://s3.amazonaws.com/dataskeptic.com/ds_sm.jpg" playerId="d365a51f-a60e-4d21-bde6-906ea50f9172"></script>
    </div>
</div>
<% } %>

<div class="container">
  <%- body %>
</div>


</body>
</html>
