<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<% if (episode !== undefined) { %>
<div class="container">
  <audio controls="controls">
    <source src="<%= episode.mp3_url %>" />
  </audio>
</div>
<% } %>

<div class="container">
  <%- body %>
</div>

<script data-ad-client="ca-pub-9618988589932555" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</body>
</html>
