<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
<div class="container ">
    <h1>careers @ Data Skeptic</h1>
    <p></p>
    <div class="row">
        <div class="col-xs-12 col-sm-6 main-content">
            <h1>Who we are</h1>
            <p>Data Skeptic is building the premiere toolchain for developers wanting to access cutting edge, artificial intelligence in their products, mobile and web apps, and data pipelines.  We launched our platform earlier this year and have an immediate opening for a motivated sales engineer to bring it to market.</p>
        </div>

        <div class="col-xs-12 col-sm-6 main-content">
            <h3>Open Positions</h3>
            <br/>
            <span class="emph"><a href="./careers/sales-engineer">Sales Engineer</a> - Remote, Immediate Hire</span>
        </div>

    </div>
</div>


</body>
<style>
    .main-content {
        min-height: 400px;
        background-color: #222222;
        border-color: #282828;
        border-width: 40px;
        border-style: solid;
    }
    .emph {
        font-size: 18pt;
    }
</style>
</html>
