<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>


<div class="outer center">
  <h1>DATA SKEPTIC</h1>
  <h2>Uncovering insights to help your business grow.</h22>


  <div class="row krow">
    <div class="col-xs-12 col-sm-8">
      <h2>WHO WE ARE</h2>

      <p>Data Skeptic is a next-generation consulting group. We help you achieve business goals by identifying key opportunities, so you can make actionable decisions. By leveraging data science, machine learning, and artificial intelligence, we take you from conception, full execution and deployment. We use data, the human experience, and technology to add value.</p>

      <p>We are a software development company helping businesses maximize their potential with scalable, automated solutions and insights.</p>
    </div>

    <div class="col-xs-12 col-sm-4">
      <h3>FACTS</h3>
      <ul>
        <li>Established in 2016</li>
        <li>Silicon Beach, Los Angeles, CA</li>
        <li>XXXXX Expert with XXX+ successful projects</li>
        <li>XXX+ years of combined industry experience</li>
      </ul>
    </div>
  </div>


  <div class="row krow">
    <div class="col-xs-12 col-sm-6">
      <h2>OUR MISSION</h2>
    </div>
    <div class="col-xs-12 col-sm-6">
       [show in pull quotes, boxed bubble with picture of Kyle]

        <p>We believe in the transformative power of technology.  We desire to share our knowledge and expertise with companies worldwide.</p>

        Our cohesive team of excellent team players are ready to share their expertise.  We believe in uncovering truth and making informed decisions, grounded in actionable data.  

        ---- KYLE POLICH, Principal 
    </div>
  </div>



  <div class="row krow">
    <div class="col-xs-12 col-sm-6">
      <h3>OUR DATA SCIENCE SERVICES</h3>

        [ADD DESCRIPTION FOR EACH OF THESE CATEGORIES / ADD MORE / REMOVE CATEGORIES]
        Big data
        Business intelligence
        Predictive analysis 
        Segmentation
        Text/Image processing
        Purchase predictions
        Automation

    </div>
  </div>









  <div class="row krow">
    <div class="col-xs-12">
      <h3>CURRENT AND PAST CLIENTS INCLUDE</h3>
    </div>
    <div class="col-xs-4">
      Atlas
    </div>
    <div class="col-xs-4">
      Telesign
    </div>
    <div class="col-xs-4">
      ID Images
    </div>
  </div>




  <div class="row krow">
    <div class="col-xs-12 col-sm-6">
      <h3>OUR TECHNOLOGY STACK</h3>

      NEED LIST OF ICONS / SOFTWARE, TOOLS WE USE 
      Python
      Tensor Flow
      Elastic
      Java
      Azure
      .NET


    </div>
  </div>







  <div class="row krow">
    <div class="col-xs-12">

      <h3>WHY DATA SKEPTIC CONSULTING?</h3>

      <h4>We’re knowledgeable experts with industry experience</h4>
      <blockquote>Host of the #1 Data Science podcast on iTunes for 5+ years with over 10M downloads XXXXXX</blockquote>

      <h4>We build custom solutions</h4>
      <blockquote>There is no one-size-fits-all.No business is the same: we understand you have custom goals and unique challenges.Our models are tailor-made, based on your specific needs.</blockquote>

      <h4>We work with Bleeding Edge Technology</h4>
      <blockquote>We use cutting edge technology for XXXX [why is bleeding edge tech better??]</blockquote>

      <h4>We’re motivated to help your business grow</h4>
      <blockquote>We take pride in building the best-in-class solutions that help your business grow and scale.  We take pride in making a measurable impact on your business.</blockquote>

    </div>
  </div>








  <div class="row krow">

    <div class="col-xs-12 col-sm-4">
      <h4>PRODUCTION MACHINE LEARNING</h4>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h4>ALGORITHMIC DESIGN</h4>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h4>CLOUD SCALE ARTIFICIAL INTELLIGENCE</h4>
    </div>

  </div>





</div>

<style>
  .center {
    max-width: 800px;
  }

  .krow {
    margin-bottom: 100px;
  }

  .krow p, li {
    font-size: 12pt;
  }

  .advertise-page {
    padding-left: 20px;
    padding-right: 20px;
    ul {
      margin-left: 20px;
    }
  }

  .outer {
    margin: auto;
    width: 50%;
    min-width: 500px;
  }
</style>

</body>
</html>
