<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
<div class="container ">
    <h1>Support the Podcast</h1>
    <p></p>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <p>
                Data Skeptic is produced by the support of listeners like you.  If our podcast has helped you learn a concept or advance in your career, please consider supporting us with a one time donation via the PayPal button.
            </p>
        </div>
        <div class="col-xs-12 col-sm-6 paypal-div">
            <br/><br/><br/>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_donations" />
                <input type="hidden" name="business" value="kylepolich@gmail.com" />
                <input type="hidden" name="item_name" value="Support the Data Skeptic podcast." />
                <input type="hidden" name="currency_code" value="USD" />
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
            </form>
        </div>
</div>
</div>


</body>
<style>
    .paypal-div {
        background-color: #fff8;
        min-height: 200px;
    }
</style>
</html>
