<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="https://s3.amazonaws.com/dataskeptic.com/ds_sm.jpg">
    </a>
    <h1>Data Skeptic</h1>
    <p>A podcast about data science, machine learning, and artificial intelligence.</p>

    <h2>Something went wrong!</h2>
  </div>
</div>



</body>
</html>
