<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
  <h2>Data Skeptic Members</h2>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Data Skeptic members, please reach out to <a href="mailto:vanessa@dataskeptic.com">vanessa@dataskeptic.com</a> with any questions, issues, or to cancel your membership.  Thanks for your patience in this time of reinvention.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Current benefits</h3>
      <ul>
        <li>Making Data Skeptic possible.</li>

        <li>Quarterly private member's hangouts starting in 2020</li>
        <li>Special events and promotions.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Things we are working on for members</h3>
      <ul>
        <li>A private analytics dashboard about listenership</li>
        <li>Access to secret swag</li>
        <li>Private Slack channel for BTS discussion</li>
        <li>Live events?</li>
        <li>Discounts on merch</li>
      </ul>
    </div>
  </div>
</div>


</body>
</html>
