<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<% include ../partials/nav.ejs %>

<div class="container text-center">
    <img src="https://s3.amazonaws.com/dataskeptic.com/imgs/jumbotron_short.jpg" width="80%" />
</div>

<div class="container">

    <h1>Data Skeptic: Interpretability</h1>

    <% for (const episode of episodes) { %>
        <h2><%= episode.title %></h2>
        <p>
          <%= episode.abstract %> ...
          <a href="/blog/<%= episode.path %>">[more]</a>
        </p>
    <% } %>

</div>


</body>
</html>
