<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">

    <h1>Data Skeptic</h1>

    <p>Your source for accessible news and updates on topics in and around data science.</p>

    <% for (const episode of episodes) { %>
        <h2><%= episode.title %></h2>
        <p><%= episode.abstract %></p>
        <iframe
          frameborder="0"
          width="350"
          height="200"
          src="<%= episode.mp3_url %>">
        </iframe>
    <% } %>
</div>


</body>
</html>
