<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="https://s3.amazonaws.com/dataskeptic.com/ds_sm.jpg">
    </a>
    <h1>Privacy Policy</h1>
    <p>We never share your data with third parties.</p>
  </div>
</div>

</body>
</html>
